{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Music Player</title>
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>

    <!-- Page Title -->
    <!-- Navbar -->
    <nav class="navbar">

        <div class="nav-left">
            <span class="logo">🎵 Music Player</span>
        </div>

        <div class="nav-right">
            <a href="{% url 'Music_app:index' %}">Home</a>
            <a href="{% url 'Music_app:upload_song' %}">Upload</a>
        </div>

    </nav>
    <a href="{% url 'Music_app:upload_song' %}" class="add-song-btn">
        +
    </a>
    <br>
    <!-- Music Grid -->
    <div class="music-container">

        {% for song in page_obj %}

        <div class="player" data-index="{{ forloop.counter0 }}">

            <img src="{{ song.image.url }}" width="200">

            <h2>{{ song.title }}</h2>

            <audio class="fc-media" controls>
                <source src="{{ song.audio_file.url }}" type="audio/mpeg">
            </audio>

            <div class="lyrics-container">
                <p class="song-lyrics">{{ song.lyrics }}</p>
            </div>

        </div>

        {% endfor %}

    </div>

    <!-- Pagination -->
    <div class="pagination">

        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
        {% endif %}

    </div>

    <!-- JS -->
    <script src="{% static 'script.js' %}"></script>

</body>

</html>