{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Music Player</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>

    <h1>Music Player</h1>

    {% for song in page_obj %}

    <div class="player">

        <!-- Song Image -->
        <img src="{{ song.image.url }}" width="200">

        <!-- Song Name -->
        <h2>{{ song.title }}</h2>

        <!-- Audio Player -->
        <audio controls>
            <source src="{{ song.audio_file.url }}" type="audio/mpeg">
        </audio>

    </div>

    {% endfor %}

    <!-- Pagination -->
    <div>
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <span>{{ page_obj.number }}</span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
        {% endif %}
    </div>

    <!-- JS -->
    <script src="{% static 'script.js' %}"></script>

</body>

</html>